<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>Home</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
<link rel="stylesheet" href="../../css/bootstrap.min.css" >
</head>
<body>
<div class="container">

	<div class="row">
		<h2>Add New Curve Point</h2>
	</div>

	<div class="row">
		<form action="#" th:action="@{/curvePoint/validate}" th:object="${curvePoint}" method="post" class="form-horizontal" style="width: 100%">
			<!--
			TODO: Create a form to input the values of CurvePoint, there are 2 buttons: Save data and Cancel to the list CurvePoint
			 -->
			 <div>
					<label>Curve Id</label> <input type="text" th:field="*{curveId}"
						placeholder="CurveId" class="form-control mb-4 col-4" required>
				</div>
				<div>
					<label>Term</label> <input type="text"
						th:field="*{term}" placeholder="Term"
						class="form-control mb-4 col-4" required>
				</div>
				<div>
					<label>Value</label><input type="text" th:field="*{value}"
						placeholder="value"
						class="form-control mb-4 col-4" required>
				</div>
				<button type="reset" class="btn btn-danger col-2"> Cancel </button>
				<button type="submit" class="btn btn-info col-2"> Add CurvePoint</button>
		</form>
	</div>

</div>
</body>
</html>