<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title> Spring Boot </title>
    <link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css"/>
</head>
<body>
<h3> HOME PAGE </h3>
<p>
    <a href="/login"  th:href="@{/app/login}">Login</a> or create one <a href="/user/list" th:href="@{/user/list}">User management</a>
</p>
</body>
</html>